<!-- For displaying discussions and their comments on discussion/index page -->
<% @discussions.each do |discussion| %>

<!-- display white paper/discussion -->
<div class="discussion">

    <!-- displaying discussion comment + user picture -->
        <%= render partial: '/shared/discussion', locals: { discussion: discussion} %>

    <!-- displaying each comment -->
        <% discussion.comments.each do |comment| %>
            <div id="comment-<%= comment.id %>">
                <%= render partial: '/shared/comment', locals: { comment: comment} %>
            </div>
        <%end%>

    <!-- displaying form for commenting-->
        <%= render partial: '/shared/comment_form', locals: { discussion: discussion } %>

</div>
<% end %> 