<!-- Displaying discussions on user/show -->

<li id="discussion-<%= discussion.id %>">
    <%= render partial: "shared/discussion", locals: { discussion: discussion } %>
<hr style="margin-top: 25px">
</li>