$('#commentScore-<%= @comment.id %>').find('p').fadeIn(500, function(){
	$(this).replaceWith('<p><%= @comment.score %></p>');
});

$('.userKarma-<%= @comment.user.id %>').find('p').fadeIn(500, function() {
	$(this).replaceWith('<p><%=  @comment.user.karma %></p>');
});