<div class="discussion">
<h2 class="centered-text"> Welcome to Frequently asked questions: </h2>

  <div class="margin-top-50">
    <p><strong>Q:</strong> Why is this site not rendering on Internet Explorer properly? </p>
    <p><strong>A:</strong> Because fuck you that's why. Nobody on this planet got enough time to fix the code only for Exploder. Use Firefox or Chrome.</p>
  </br>
    <p><strong>Q:</strong> I am kinda lost on this site. I have no idea how exactly this site works.</p>
    <p><strong>A:</strong> Site guide is on it's way. Feel free to just browse around, sooner or later it will become logical.</p>
  </br>
    <p><strong>Q:</strong> How is the voting system working? Sometimes users receive +1point and sometimes +2points? </p>
    <p><strong>A:</strong> Everytime you click on the thumbs-up icon under comment, comment author receives +1 point. After that if you change your mind and decide to give him thumbs-down previous +1point is removed and -1point is given (which means his score is lower by 2points). If you click on the black thumbs-up/thumb-down icon again he won't receive/lose any points by you.</p>
  </br>
    <p><strong>Q:</strong> Why I can see destroy and edit options on some discussions?</p>
    <p><strong>A:</strong> If you are author that discussion you will be able to see those options. Destroy will destroy current discussion and all it's comments. Edit is used to move discussion from one category to another.</p>
  </br>
    <p><strong>Q:</strong> Why I can't upload my own avatar?</p>
    <p><strong>A:</strong> Site is under heavy development, so it will take while to implement such feature. So far I am the only developer and unfortunately I can not work full time on this site.</p>
  </br>
    <p><strong>Q:</strong> I discovered a bug, where do I report it? </p>
    <p><strong>A:</strong> You can report it in Newest Discussions/Bug reports. Every successfull bug report will be awarded with +10 points. Successfull security bug report will be awarded with +100 points.</p>
  </br>
    <p><strong>Q:</strong> Are you looking for developers?</p>
    <p><strong>A:</strong> Yes. If you have developed anything that you think it might be useful to add on this site, feel free to post it in Ask admin category. If we find it as useful feature you will hear from us via email.</p>
  </br>
  Written by =] Troller admin<strong><p>I am an ass</p></strong>
  </div>
</div>
