<div class="discussion">
<h2 class="centered-text"> Welcome to Frequently asked questions: </h2>

  <div class="margin-top-50">
    <p>Q: Why is this site not rendering on Internet Explorer properly? </p>
    <p>A: Because fuck you that's why. Nobody on this planet got enough time to fix the code only for Exploder. Use Firefox or Chrome.</p>
  </br>
    <p>Q: I am kinda lost on this site. I have no idea how exactly this site works.</p>
    <p>A: Site guide is on it's way. Feel free to just browse around, sooner or later it will become logical.</p>
  </br>
  </div>
</div>
