<div class="discussion" style="margin-top: 40px">
<h2 class="centered-text">New Category</h2>

<div class="signup-centered">

<%= render 'form' %>

<%= link_to 'Back', categories_path %>
</div>
</div>